.footer {
  margin-top: 60px;
  border-top: 0.0625rem solid #e9ecef;
  background: white;
  color: #4B5153;
}

.footer a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.footer a:hover {
  transform: scale(1.02);
  transition: 0.5s transform;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

@media (max-width: 200px) {
  .inner {
    flex-direction: column;
  }
}

@media screen and (max-width: 200px) {
  .links {
  margin-top: 60px;
  }
}
